body {
  font-family: 'Noto Sans', sans-serif;
  color: #222;
}
h1, h2, h3 {
  font-family: 'Noto Serif', serif;
}
a, a:link {
  color: #005;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:followed {
  color: #222;
}
header, div.section, footer {
  max-width: 55em;
  margin: auto;
}
h1.name, h2 {
  text-align: center;
}
h2 {
  text-transform: uppercase;
}
header div.address {
  font-size: 0.85em;
}
header div.phone {
  margin-bottom: 10px;
}
header div.home, header div.phone {
  clear: left;
  float: left;
}
header div.email, header div.website {
  clear: right;
  float: right;
}
div.section {
  border-top: 1px solid #999;
}
div.section.profile {
  clear: both;
  margin-top: 10px;
}